/* Estilos generales */
body[data-v-1276472a] {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Estilos para los elementos en el formulario */
.input-group[data-v-1276472a] {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 10px;
}
.input-group label[data-v-1276472a] {
  font-weight: bold;
  margin-bottom: 5px;
}
.input-group input[data-v-1276472a] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.button-container[data-v-1276472a] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.styled-form button[data-v-1276472a] {
  background-color: #007bff;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.styled-form[data-v-1276472a] {
  background-color: #fff;
  border: 1px solid #1187f7;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.styled-form input[type=text][data-v-1276472a],
.styled-form input[type=number][data-v-1276472a] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #157ef5;
  border-radius: 3px;
}
.styled-form button[data-v-1276472a]:hover {
  background-color: #157ef5;
}

/* Estilos para los elementos "plan-box" y la tabla */
.pollito[data-v-1276472a] {
  background-color: #fdfdfd;
  border: 1px solid #157ef5;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  /* Hacer que ambas tengan el mismo ancho */
}
.pollitoHijo[data-v-1276472a] {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  /* Hacer que ambas tengan el mismo ancho */
}

/* Estilos para los botones de editar y eliminar */
.edit-button[data-v-1276472a] {
  background-color: #157ef5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.delete-button[data-v-1276472a] {
  background-color: #eb2222;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.edit-button[data-v-1276472a]:hover {
  background-color: #157ef5;
}
.delete-button[data-v-1276472a]:hover {
  background-color: #df1313;
}

/* Estilos para la tabla */
th[data-v-1276472a],
td[data-v-1276472a] {
  padding: 10px;
  text-align: left;
}
th[data-v-1276472a] {
  background-color: #f2f2f2;
}
tr[data-v-1276472a]:nth-child(even) {
  background-color: #f2f2f2;
}
tr[data-v-1276472a]:hover {
  background-color: #98c0ec;
}