.message {
  position: relative;
  border: 1px solid var(--fade-grey-dark-3);
  box-shadow: var(--light-box-shadow);
  padding-right: 20px;
}
.message.is-primary {
  border-color: var(--primary-light-24);
}
.message.is-primary .delete::before, .message.is-primary .delete::after {
  background-color: var(--primary);
}
.message.is-info {
  border-color: var(--info-light-24);
}
.message.is-info .delete::before, .message.is-info .delete::after {
  background-color: var(--info);
}
.message.is-success {
  border-color: var(--success-light-24);
}
.message.is-success .delete::before, .message.is-success .delete::after {
  background-color: var(--success);
}
.message.is-warning {
  border-color: var(--warning-light-24);
}
.message.is-warning .delete::before, .message.is-warning .delete::after {
  background-color: var(--warning);
}
.message.is-danger {
  border-color: var(--danger-light-24);
}
.message.is-danger .delete::before, .message.is-danger .delete::after {
  background-color: var(--danger);
}
.message .delete {
  position: absolute;
  background-color: transparent;
  top: 6px;
  right: 6px;
}
.message .delete::before {
  height: 1px;
  background-color: var(--light-text);
}
.message .delete::after {
  width: 1px;
  background-color: var(--light-text);
}
.message .message-body {
  border: none;
  font-family: var(--font);
}
.is-dark .message:not(.is-primary):not(.is-info):not(.is-success):not(.is-warning):not(.is-danger) {
  background-color: var(--dark-sidebar);
  border-color: var(--dark-sidebar-light-3);
}
.is-dark .message:not(.is-primary):not(.is-info):not(.is-success):not(.is-warning):not(.is-danger) .message-body {
  color: var(--light-text);
}
.is-dark .message span {
  color: var(--white);
}
.is-dark .message.is-primary {
  background: var(--primary);
  border-color: var(--primary);
}
.is-dark .message.is-primary .message-body {
  color: var(--white);
}
.is-dark .message.is-primary .delete::before, .is-dark .message.is-primary .delete::after {
  background-color: var(--white);
}
.is-dark .message.is-success {
  background: var(--success);
  border-color: var(--success);
}
.is-dark .message.is-success .message-body {
  color: var(--white);
}
.is-dark .message.is-success .delete::before, .is-dark .message.is-success .delete::after {
  background-color: var(--white);
}
.is-dark .message.is-info {
  background: var(--info);
  border-color: var(--info);
}
.is-dark .message.is-info .message-body {
  color: var(--white);
}
.is-dark .message.is-info .delete::before, .is-dark .message.is-info .delete::after {
  background-color: var(--white);
}
.is-dark .message.is-warning {
  background: var(--warning);
  border-color: var(--warning);
}
.is-dark .message.is-warning .message-body {
  color: var(--white);
}
.is-dark .message.is-warning .delete::before, .is-dark .message.is-warning .delete::after {
  background-color: var(--white);
}
.is-dark .message.is-danger {
  background: var(--danger);
  border-color: var(--danger);
}
.is-dark .message.is-danger .message-body {
  color: var(--white);
}
.is-dark .message.is-danger .delete::before, .is-dark .message.is-danger .delete::after {
  background-color: var(--white);
}@keyframes parpadeo-6f25c006 {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.dos_puntos[data-v-6f25c006] {
  padding-inline: 0.2rem;
  font-weight: bold;
  font-size: 2rem;
  animation-name: parpadeo-6f25c006;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.init[data-v-6f25c006] {
  background-color: var(--successs);
  margin-inline: 0.5rem;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
}
.end[data-v-6f25c006] {
  background-color: var(--danger);
  margin-inline: 0.5rem;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
}
.inicio[data-v-6f25c006] {
  border-style: solid;
  border-color: var(--successs);
}
.final[data-v-6f25c006] {
  border-style: solid;
  border-color: var(--danger);
}
.flotar[data-v-6f25c006] {
  position: absolute;
  bottom: 6rem;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 2rem;
}
.flotar[data-v-6f25c006]:hover,
.flotar[data-v-6f25c006] :active,
.flotar[data-v-6f25c006] :focus {
  outline: 0 !important;
  background-color: var(--success);
}
.flotar:hover div h3[data-v-6f25c006],
.flotar :active div h3[data-v-6f25c006],
.flotar :focus div h3[data-v-6f25c006] {
  color: beige;
}
.repeticiones[data-v-6f25c006] {
  background-color: #eddcc2;
  border: 1px solid #e3d7c8;
  width: fit-content;
  padding: 10px;
  border-radius: 0.5rem;
  position: sticky;
  bottom: 50px;
  display: flex;
  gap: 5px;
}
.legend-label[data-v-6f25c006] {
  background-color: orange;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ff8d02;
}

/* ==========================================================================
2. Flotar Dark mode
========================================================================== */
.is-dark .inicio[data-v-6f25c006] {
  border-style: solid;
  border-color: var(--successs) !important;
}
.is-dark .final[data-v-6f25c006] {
  border-style: solid;
  border-color: var(--danger) !important;
}
.is-dark .flotar[data-v-6f25c006] {
  position: absolute;
  bottom: 6rem;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 2px 4px 1px rgba(255, 255, 255, 0.5);
  background-color: var(--dark-sidebar-light-6);
  border-radius: 2rem;
}
.is-dark .flotar[data-v-6f25c006]:hover,
.is-dark .flotar[data-v-6f25c006] :active,
.is-dark .flotar[data-v-6f25c006] :focus {
  outline: 0 !important;
  background-color: var(--dark);
}
.is-dark .flotar:hover div h3[data-v-6f25c006],
.is-dark .flotar :active div h3[data-v-6f25c006],
.is-dark .flotar :focus div h3[data-v-6f25c006] {
  color: beige;
}.is_hidden[data-v-9d05ab14] {
  visibility: hidden;
}
.init[data-v-9d05ab14] {
  background-color: var(--successs);
  margin-inline: 0.5rem;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
}
.end[data-v-9d05ab14] {
  background-color: var(--danger);
  margin-inline: 0.5rem;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
}
.inicio[data-v-9d05ab14] {
  border-style: solid;
  border-color: var(--successs);
}
.final[data-v-9d05ab14] {
  border-style: solid;
  border-color: var(--danger);
}
.flotar[data-v-9d05ab14] {
  position: absolute;
  bottom: 6rem;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 2rem;
}
.flotar[data-v-9d05ab14]:hover,
.flotar[data-v-9d05ab14] :active,
.flotar[data-v-9d05ab14] :focus {
  outline: 0 !important;
  background-color: var(--success);
}
.flotar:hover div h3[data-v-9d05ab14],
.flotar :active div h3[data-v-9d05ab14],
.flotar :focus div h3[data-v-9d05ab14] {
  color: beige;
}
.repeticiones[data-v-9d05ab14] {
  background-color: #eddcc2;
  border: 1px solid #e3d7c8;
  width: fit-content;
  padding: 10px;
  border-radius: 0.5rem;
  position: sticky;
  bottom: 50px;
  display: flex;
  gap: 5px;
}
.legend-label[data-v-9d05ab14] {
  background-color: orange;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ff8d02;
}

/* ==========================================================================
2. Flotar Dark mode
========================================================================== */
.is-dark .inicio[data-v-9d05ab14] {
  border-style: solid;
  border-color: var(--successs) !important;
}
.is-dark .final[data-v-9d05ab14] {
  border-style: solid;
  border-color: var(--danger) !important;
}
.is-dark .invoice-section[data-v-9d05ab14] {
  background-color: #212121;
}
.is-dark .flotar[data-v-9d05ab14] {
  position: absolute;
  bottom: 6rem;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 2px 4px 1px rgba(255, 255, 255, 0.5);
  background-color: var(--dark-sidebar-light-6);
  border-radius: 2rem;
}
.is-dark .flotar[data-v-9d05ab14]:hover,
.is-dark .flotar[data-v-9d05ab14] :active,
.is-dark .flotar[data-v-9d05ab14] :focus {
  outline: 0 !important;
  background-color: var(--dark);
}
.is-dark .flotar:hover div h3[data-v-9d05ab14],
.is-dark .flotar :active div h3[data-v-9d05ab14],
.is-dark .flotar :focus div h3[data-v-9d05ab14] {
  color: beige;
}