.centrar {
  justify-content: center;
  align-items: center;
}
.centrar img {
  width: 110px;
  height: 110px;
  border-radius: var(--radius-rounded);
  display: block;
  border: 4px solid #e8e8e8;
  margin-left: -1px;
}