/*! _variables.scss | Vuero | Css ninja 2020-2021 */
/*
Theses variables are used to map bulma variables to our css variables
Some colors are not here because they are overriden with bulma-css-var package.
*/
/* ==========================================================================
2. Global colors
========================================================================== */
/* ==========================================================================
4. Fonts
========================================================================== */
/* ==========================================================================
5. Layout
========================================================================== */
.list-widget {
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: 16px;
  border: 1px solid var(--fade-grey-dark-3);
  transition: all 0.3s;
  padding: 30px;
}
.list-widget.has-margin-bottom {
  margin-bottom: 1.5rem;
}
.list-widget.is-flat {
  box-shadow: none;
}
.list-widget.is-raised {
  box-shadow: var(--light-box-shadow);
}
.list-widget.is-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--primary--color-invert);
}
.list-widget.is-primary .title,
.list-widget.is-primary .subtitle,
.list-widget.is-primary h1,
.list-widget.is-primary h2,
.list-widget.is-primary h3,
.list-widget.is-primary h4,
.list-widget.is-primary p {
  color: var(--smoke-white) !important;
}
.list-widget.is-secondary {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.list-widget.is-secondary .title,
.list-widget.is-secondary .subtitle,
.list-widget.is-secondary h1,
.list-widget.is-secondary h2,
.list-widget.is-secondary h3,
.list-widget.is-secondary h4,
.list-widget.is-secondary p {
  color: var(--smoke-white) !important;
}
.list-widget.is-info {
  background: var(--info) !important;
  border-color: var(--info) !important;
}
.list-widget.is-info .title,
.list-widget.is-info .subtitle,
.list-widget.is-info h1,
.list-widget.is-info h2,
.list-widget.is-info h3,
.list-widget.is-info h4,
.list-widget.is-info p {
  color: var(--smoke-white) !important;
}
.list-widget.is-success {
  background: var(--success) !important;
  border-color: var(--success) !important;
}
.list-widget.is-success .title,
.list-widget.is-success .subtitle,
.list-widget.is-success h1,
.list-widget.is-success h2,
.list-widget.is-success h3,
.list-widget.is-success h4,
.list-widget.is-success p {
  color: var(--smoke-white) !important;
}
.list-widget.is-warning {
  background: var(--warning) !important;
  border-color: var(--warning) !important;
}
.list-widget.is-warning .title,
.list-widget.is-warning .subtitle,
.list-widget.is-warning h1,
.list-widget.is-warning h2,
.list-widget.is-warning h3,
.list-widget.is-warning h4,
.list-widget.is-warning p {
  color: var(--smoke-white) !important;
}
.list-widget.is-danger {
  background: var(--danger) !important;
  border-color: var(--danger) !important;
}
.list-widget.is-danger .title,
.list-widget.is-danger .subtitle,
.list-widget.is-danger h1,
.list-widget.is-danger h2,
.list-widget.is-danger h3,
.list-widget.is-danger h4,
.list-widget.is-danger p {
  color: var(--smoke-white) !important;
}
.list-widget .card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-widget .card-head .left,
.list-widget .card-head .right {
  display: flex;
  align-items: center;
}
.list-widget .card-head .left .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.list-widget .card-head .right {
  justify-content: flex-end;
}
.list-widget .card-inner {
  padding-top: 1.75rem;
}
.list-widget:not(:last-child) {
  margin-bottom: 1.5rem;
}
.list-widget.is-straight {
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--radius-large);
  border: 1px solid var(--fade-grey-dark-3);
  transition: all 0.3s;
}
.list-widget.is-straight.has-margin-bottom {
  margin-bottom: 1.5rem;
}
.list-widget.is-straight.is-flat {
  box-shadow: none;
}
.list-widget.is-straight.is-raised {
  box-shadow: var(--light-box-shadow);
}
.list-widget.is-straight.is-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--primary--color-invert);
}
.list-widget.is-straight.is-primary .title,
.list-widget.is-straight.is-primary .subtitle,
.list-widget.is-straight.is-primary h1,
.list-widget.is-straight.is-primary h2,
.list-widget.is-straight.is-primary h3,
.list-widget.is-straight.is-primary h4,
.list-widget.is-straight.is-primary p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight.is-secondary {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.list-widget.is-straight.is-secondary .title,
.list-widget.is-straight.is-secondary .subtitle,
.list-widget.is-straight.is-secondary h1,
.list-widget.is-straight.is-secondary h2,
.list-widget.is-straight.is-secondary h3,
.list-widget.is-straight.is-secondary h4,
.list-widget.is-straight.is-secondary p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight.is-info {
  background: var(--info) !important;
  border-color: var(--info) !important;
}
.list-widget.is-straight.is-info .title,
.list-widget.is-straight.is-info .subtitle,
.list-widget.is-straight.is-info h1,
.list-widget.is-straight.is-info h2,
.list-widget.is-straight.is-info h3,
.list-widget.is-straight.is-info h4,
.list-widget.is-straight.is-info p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight.is-success {
  background: var(--success) !important;
  border-color: var(--success) !important;
}
.list-widget.is-straight.is-success .title,
.list-widget.is-straight.is-success .subtitle,
.list-widget.is-straight.is-success h1,
.list-widget.is-straight.is-success h2,
.list-widget.is-straight.is-success h3,
.list-widget.is-straight.is-success h4,
.list-widget.is-straight.is-success p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight.is-warning {
  background: var(--warning) !important;
  border-color: var(--warning) !important;
}
.list-widget.is-straight.is-warning .title,
.list-widget.is-straight.is-warning .subtitle,
.list-widget.is-straight.is-warning h1,
.list-widget.is-straight.is-warning h2,
.list-widget.is-straight.is-warning h3,
.list-widget.is-straight.is-warning h4,
.list-widget.is-straight.is-warning p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight.is-danger {
  background: var(--danger) !important;
  border-color: var(--danger) !important;
}
.list-widget.is-straight.is-danger .title,
.list-widget.is-straight.is-danger .subtitle,
.list-widget.is-straight.is-danger h1,
.list-widget.is-straight.is-danger h2,
.list-widget.is-straight.is-danger h3,
.list-widget.is-straight.is-danger h4,
.list-widget.is-straight.is-danger p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight .card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-widget.is-straight .card-head .left,
.list-widget.is-straight .card-head .right {
  display: flex;
  align-items: center;
}
.list-widget.is-straight .card-head .left .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.list-widget.is-straight .card-head .right {
  justify-content: flex-end;
}
.list-widget.is-straight .card-inner {
  padding-top: 1.75rem;
}
.list-widget .widget-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  margin-bottom: 10px;
}
.list-widget .widget-head h3 {
  color: var(--dark-text);
  font-size: 1.1rem;
  font-weight: 500;
}
.list-widget .inner-list {
  padding: 10px 0;
}
.list-widget .inner-list .inner-list-item + .inner-list-item {
  margin-top: 24px;
}
.is-dark .list-widget {
  background: var(--dark-sidebar-light-6);
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .list-widget .v-avatar img {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .list-widget .avatar-stack .v-avatar {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .list-widget .avatar-stack .v-avatar .avatar.is-more .inner {
  border-color: var(--dark-sidebar-light-6) !important;
}.pegar[data-v-7ed6a815] {
  position: sticky;
  top: 1.5rem;
  z-index: 99;
}
.btn-add-plan-g[data-v-7ed6a815] {
  background-color: var(--primary);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  border: none;
}
.btng[data-v-7ed6a815] {
  background-color: var(--primary);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn[data-v-7ed6a815] {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  height: 22px;
  width: 35px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20%;
}
.btn-view[data-v-7ed6a815] {
  background-color: var(--primary);
}
.btn-edit[data-v-7ed6a815] {
  background-color: var(--orange);
}
.btn-delete[data-v-7ed6a815] {
  background-color: rgb(224, 79, 71);
}
.btn-add-plan-g[data-v-7ed6a815]:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.list-widget .icon-timeline .timeline-item[data-v-7ed6a815] {
  position: relative;
  display: flex;
  padding-bottom: 30px;
}
.list-widget .icon-timeline .timeline-item[data-v-7ed6a815]::after {
  content: "";
  position: absolute;
  top: 36px;
  left: 18px;
  width: 1px;
  height: calc(100% - 36px);
  border-left: 1px solid var(--fade-grey-dark-3);
}
.list-widget .icon-timeline .timeline-item .timeline-icon[data-v-7ed6a815] {
  position: relative;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--fade-grey-dark-3);
  border-radius: var(--radius-rounded);
  color: var(--light-text);
  box-shadow: var(--light-box-shadow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon[data-v-7ed6a815]::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 40px;
  width: 20px;
  height: 1px;
  border-top: 1px solid var(--fade-grey-dark-3);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-squared[data-v-7ed6a815] {
  border-radius: 10px;
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-squared img[data-v-7ed6a815] {
  border-radius: 10px;
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-primary[data-v-7ed6a815] {
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: var(--primary-box-shadow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-primary svg[data-v-7ed6a815] {
  color: var(--smoke-white);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-info[data-v-7ed6a815] {
  background: var(--info);
  border-color: var(--info);
  box-shadow: var(--info-box-shadow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-info svg[data-v-7ed6a815] {
  color: var(--smoke-white);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-success[data-v-7ed6a815] {
  background: var(--success);
  border-color: var(--success);
  box-shadow: var(--success-box-shadow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-success svg[data-v-7ed6a815] {
  color: var(--smoke-white);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-orange[data-v-7ed6a815] {
  background: var(--orange);
  border-color: var(--orange);
  box-shadow: var(--orange-box-shadow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-orange svg[data-v-7ed6a815] {
  color: var(--smoke-white);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-yellow[data-v-7ed6a815] {
  background: var(--yellow);
  border-color: var(--yellow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-yellow svg[data-v-7ed6a815] {
  color: var(--smoke-white);
}
.list-widget .icon-timeline .timeline-item .timeline-icon img[data-v-7ed6a815] {
  display: block;
  height: 28px;
  width: 28px;
  border-radius: var(--radius-rounded);
}
.list-widget .icon-timeline .timeline-item .timeline-icon svg[data-v-7ed6a815] {
  height: 16px;
  width: 16px;
  stroke-width: 1.6px;
}
.list-widget .icon-timeline .timeline-item .timeline-content[data-v-7ed6a815] {
  margin-left: 34px;
  line-height: 1.2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.list-widget .icon-timeline .timeline-item .timeline-content span[data-v-7ed6a815] {
  font-size: 0.85rem;
  color: var(--light-text);
}
.list-widget .icon-timeline .timeline-item .timeline-content p[data-v-7ed6a815] {
  font-family: var(--font-alt);
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--dark-text);
}
.list-widget .icon-timeline .timeline-item .timeline-content div[data-v-7ed6a815] {
  color: white !important;
}
.is-dark .list-widget .icon-timeline .timeline-item[data-v-7ed6a815]::after {
  border-color: var(--dark-sidebar-light-12) !important;
}
.is-dark .list-widget .icon-timeline .timeline-item .timeline-icon[data-v-7ed6a815]:not(.is-primary):not(.is-info):not(.is-success):not(.is-orange):not(.is-yellow) {
  background: var(--dark-sidebar-light-3) !important;
  border-color: var(--dark-sidebar-light-12) !important;
}
.is-dark .list-widget .icon-timeline .timeline-item .timeline-icon[data-v-7ed6a815]::after {
  border-color: var(--dark-sidebar-light-12) !important;
}
.is-dark .list-widget .icon-timeline .timeline-item .timeline-icon.is-primary[data-v-7ed6a815] {
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: var(--primary-box-shadow);
}
.is-dark .list-widget .icon-timeline .timeline-item .timeline-icon.is-primary svg[data-v-7ed6a815] {
  color: var(--smoke-white);
}
.is-dark .list-widget .icon-timeline .timeline-item .timeline-content p[data-v-7ed6a815] {
  color: var(--dark-dark-text);
}