.picture-selector,
.skill-picture-selector {
  width: 100%;
  text-align: center;
}
.picture-selector .image-container,
.skill-picture-selector .image-container {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 10px auto;
  border-radius: var(--radius-rounded);
}
.picture-selector .image-container img,
.skill-picture-selector .image-container img {
  width: 110px;
  height: 110px;
  border-radius: var(--radius-rounded);
  display: block;
  border: 4px solid #e8e8e8;
  margin-left: -1px;
}
.picture-selector .image-container .upload-button,
.skill-picture-selector .image-container .upload-button {
  position: absolute;
  bottom: 18px;
  right: 0;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-radius: var(--radius-rounded);
  border: 1px solid var(--fade-grey-dark-4);
  z-index: 5;
  transition: all 0.3s;
  cursor: pointer;
}
.picture-selector .image-container .upload-button:hover, .picture-selector .image-container .upload-button:focus,
.skill-picture-selector .image-container .upload-button:hover,
.skill-picture-selector .image-container .upload-button:focus {
  box-shadow: var(--light-box-shadow);
}
.picture-selector .image-container .upload-button svg,
.skill-picture-selector .image-container .upload-button svg {
  height: 16px;
  width: 16px;
  color: var(--dark-text);
}
.picture-selector .image-container img {
  border-color: var(--dark-sidebar-light-10);
}
.picture-selector .image-container .upload-button {
  background-color: var(--dark-sidebar-light-2);
  border-color: var(--dark-sidebar-light-10);
}
.picture-selector .image-container .upload-button svg {
  color: var(--light-text);
  stroke: var(--light-text);
}