.pegar[data-v-3778b704] {
  position: sticky;
  top: 1.5rem;
  z-index: 99;
}
.btn-add-plan-g[data-v-3778b704] {
  background-color: var(--primary);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  border: none;
}
.btng[data-v-3778b704] {
  background-color: var(--primary);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn[data-v-3778b704] {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  height: 22px;
  width: 35px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20%;
}
.btn-view[data-v-3778b704] {
  background-color: var(--primary);
}
.btn-edit[data-v-3778b704] {
  background-color: var(--orange);
}
.btn-delete[data-v-3778b704] {
  background-color: rgb(224, 79, 71);
}
.btn-add-plan-g[data-v-3778b704]:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.list-widget .icon-timeline .timeline-item[data-v-3778b704] {
  position: relative;
  display: flex;
  padding-bottom: 30px;
}
.list-widget .icon-timeline .timeline-item[data-v-3778b704]::after {
  content: "";
  position: absolute;
  top: 36px;
  left: 18px;
  width: 1px;
  height: calc(100% - 36px);
  border-left: 1px solid var(--fade-grey-dark-3);
}
.list-widget .icon-timeline .timeline-item .timeline-icon[data-v-3778b704] {
  position: relative;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--fade-grey-dark-3);
  border-radius: var(--radius-rounded);
  color: var(--light-text);
  box-shadow: var(--light-box-shadow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon[data-v-3778b704]::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 40px;
  width: 20px;
  height: 1px;
  border-top: 1px solid var(--fade-grey-dark-3);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-squared[data-v-3778b704] {
  border-radius: 10px;
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-squared img[data-v-3778b704] {
  border-radius: 10px;
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-primary[data-v-3778b704] {
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: var(--primary-box-shadow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-primary svg[data-v-3778b704] {
  color: var(--smoke-white);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-info[data-v-3778b704] {
  background: var(--info);
  border-color: var(--info);
  box-shadow: var(--info-box-shadow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-info svg[data-v-3778b704] {
  color: var(--smoke-white);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-success[data-v-3778b704] {
  background: var(--success);
  border-color: var(--success);
  box-shadow: var(--success-box-shadow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-success svg[data-v-3778b704] {
  color: var(--smoke-white);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-orange[data-v-3778b704] {
  background: var(--orange);
  border-color: var(--orange);
  box-shadow: var(--orange-box-shadow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-orange svg[data-v-3778b704] {
  color: var(--smoke-white);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-yellow[data-v-3778b704] {
  background: var(--yellow);
  border-color: var(--yellow);
}
.list-widget .icon-timeline .timeline-item .timeline-icon.is-yellow svg[data-v-3778b704] {
  color: var(--smoke-white);
}
.list-widget .icon-timeline .timeline-item .timeline-icon img[data-v-3778b704] {
  display: block;
  height: 28px;
  width: 28px;
  border-radius: var(--radius-rounded);
}
.list-widget .icon-timeline .timeline-item .timeline-icon svg[data-v-3778b704] {
  height: 16px;
  width: 16px;
  stroke-width: 1.6px;
}
.list-widget .icon-timeline .timeline-item .timeline-content[data-v-3778b704] {
  margin-left: 34px;
  line-height: 1.2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.list-widget .icon-timeline .timeline-item .timeline-content span[data-v-3778b704] {
  font-size: 0.85rem;
  color: var(--light-text);
}
.list-widget .icon-timeline .timeline-item .timeline-content p[data-v-3778b704] {
  font-family: var(--font-alt);
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--dark-text);
}
.list-widget .icon-timeline .timeline-item .timeline-content div[data-v-3778b704] {
  color: white !important;
}
.is-dark .list-widget .icon-timeline .timeline-item[data-v-3778b704]::after {
  border-color: var(--dark-sidebar-light-12) !important;
}
.is-dark .list-widget .icon-timeline .timeline-item .timeline-icon[data-v-3778b704]:not(.is-primary):not(.is-info):not(.is-success):not(.is-orange):not(.is-yellow) {
  background: var(--dark-sidebar-light-3) !important;
  border-color: var(--dark-sidebar-light-12) !important;
}
.is-dark .list-widget .icon-timeline .timeline-item .timeline-icon[data-v-3778b704]::after {
  border-color: var(--dark-sidebar-light-12) !important;
}
.is-dark .list-widget .icon-timeline .timeline-item .timeline-icon.is-primary[data-v-3778b704] {
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: var(--primary-box-shadow);
}
.is-dark .list-widget .icon-timeline .timeline-item .timeline-icon.is-primary svg[data-v-3778b704] {
  color: var(--smoke-white);
}
.is-dark .list-widget .icon-timeline .timeline-item .timeline-content p[data-v-3778b704] {
  color: var(--dark-dark-text);
}