/* ==========================================================================
2. View Wrapper
========================================================================== */
.view-wrapper.has-top-nav {
  margin-left: 0 !important;
  width: 100% !important;
  padding-top: 1px;
}
.view-wrapper.has-top-nav .is-stuck {
  position: fixed;
  top: 78px;
  left: 0;
  margin-left: 0;
  border-left: 0 !important;
  width: 100%;
  z-index: 14;
}
.view-wrapper.has-top-nav .is-stuck.stuck-header {
  padding-right: 20px !important;
}
.view-wrapper.has-top-nav .is-stuck.stuck-header .form-head-inner,
.view-wrapper.has-top-nav .is-stuck.stuck-header .form-header-inner {
  max-width: 1240px;
  margin: 0 auto;
}
.view-wrapper.has-top-nav .page-title {
  display: none;
}
.view-wrapper.has-top-nav .has-navbar-spacing {
  margin-top: -20px;
}
.view-wrapper.has-top-nav .is-navbar-md {
  margin-top: 90px;
}
.view-wrapper.has-top-nav .is-navbar-lg {
  margin-top: 110px;
}
.view-wrapper.has-top-nav .is-navbar-xl {
  margin-top: 130px;
}
.view-wrapper.view-wrapper-full {
  width: 100%;
  margin-left: 0;
}
.view-wrapper.view-wrapper-full.is-pushed-block {
  margin-left: 280px;
  width: calc(100% - 280px);
}
.view-wrapper.view-wrapper-full.is-pushed-block .is-stuck {
  margin-left: 280px;
  width: calc(100% - 280px);
}
.view-wrapper {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: calc(100% - 80px);
  padding: 0 0 60px;
  margin-left: 80px;
  background: var(--background-grey);
  transition: all 0.3s;
}
.view-wrapper.is-pushed-full {
  margin-left: 320px;
  width: calc(100% - 320px);
}
.view-wrapper.is-pushed-full .is-stuck {
  margin-left: 320px;
  width: calc(100% - 320px);
}
.view-wrapper.is-pushed-messages {
  margin-left: 160px !important;
  width: calc(100% - 160px) !important;
}
.view-wrapper .is-stuck {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 80px;
  width: calc(100% - 80px);
  z-index: 14;
}
.is-dark .view-wrapper {
  background: var(--dark-sidebar-light-10);
  border-color: var(--dark-sidebar-light-10);
}
@media (max-width: 767px) {
.view-wrapper.has-top-nav .is-navbar-md,
.view-wrapper.has-top-nav .is-navbar-lg,
.view-wrapper.has-top-nav .is-navbar-xl {
    margin-top: 0;
}
.view-wrapper.has-top-nav .page-title {
    display: flex !important;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
.view-wrapper.has-top-nav .is-navbar-md,
.view-wrapper.has-top-nav .is-navbar-lg,
.view-wrapper.has-top-nav .is-navbar-xl {
    margin-top: 0;
}
.view-wrapper.has-top-nav .page-title {
    display: flex !important;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
.view-wrapper {
    width: calc(100% - 60px) !important;
    margin-left: 60px !important;
}
.view-wrapper.is-pushed-messages {
    margin-left: 140px !important;
    width: calc(100% - 140px) !important;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
.view-wrapper {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 60px !important;
    padding-left: 40px;
    padding-right: 40px;
}
.view-wrapper.is-explore {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
}
@media (max-width: 767px) {
.view-wrapper {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 60px !important;
}
}/* ==========================================================================
3. Page Content
========================================================================== */
.page-content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.page-content-wrapper .page-content {
  padding: 0 40px;
}
.page-content-wrapper .page-content.is-relative {
  position: relative;
}
.page-content-wrapper .page-content.kanban-content {
  padding: 0 20px;
}
.page-content-wrapper .page-content.chat-content {
  padding: 0 40px;
}
.page-content-wrapper .page-content.card-content {
  padding: 0 20px;
}
.page-content-wrapper .page-content.waterfall-content {
  overflow: hidden;
}
.page-content-wrapper .page-content.projects-content {
  padding: 0 40px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
.page-content-wrapper .page-content {
    padding: 0;
}
}/* ==========================================================================
3. Page Content
========================================================================== */
.page-content {
  padding: 0 40px;
}
.page-content.is-relative {
  position: relative;
}
.page-content.kanban-content {
  padding: 0 20px;
}
.page-content.chat-content {
  padding: 0 40px;
}
.page-content.card-content {
  padding: 0 20px;
}
.page-content.waterfall-content {
  overflow: hidden;
}
.page-content.projects-content {
  padding: 0 40px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
.page-content {
    padding: 0 10px;
}
.page-content.is-explore {
    padding: 0 !important;
}
}
@media (max-width: 767px) {
.page-content {
    padding: 0 10px !important;
}
.page-content.projects-content {
    padding: 0 16px;
}
}.collapse-links[data-v-1f59c5a8] {
  overflow: hidden;
  user-select: none;
}
.collapse-links-transition-enter-active[data-v-1f59c5a8],
.collapse-links-transition-leave-active[data-v-1f59c5a8] {
  opacity: 1;
  transform: translateY(0) scaleY(1);
  transform-origin: center top;
}
.collapse-links-transition-enter-active[data-v-1f59c5a8] {
  transition: opacity 0.2s ease-in, transform 0.1s ease-in;
}
.collapse-links-transition-leave-active[data-v-1f59c5a8] {
  transition: opacity 0.2s ease-out, transform 0.1s ease-out;
}
.collapse-links-transition-enter-from[data-v-1f59c5a8],
.collapse-links-transition-leave-to[data-v-1f59c5a8] {
  transform: translateY(-10px) scaleY(0.2);
  opacity: 0;
}
@media (prefers-reduced-motion: reduce) {
.collapse-links-transition-enter-active[data-v-1f59c5a8],
.collapse-links-transition-leave-active[data-v-1f59c5a8] {
    transition: none;
}
}.main-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0;
  height: 100vh;
  width: 80px;
  background-color: var(--body-color);
  box-shadow: none;
  z-index: 35;
  transition: border-radius 0.3s ease-in, background-color 0.3s ease-in, top 0.3s ease-in, margin-left 0.3s ease-in, height 0.3s ease-in;
}
.main-sidebar.is-bordered {
  border-right: 1px solid var(--fade-grey) !important;
}
.main-sidebar.is-open {
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.02);
}
.main-sidebar.is-curved:not(.is-bordered) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 1px solid var(--fade-grey-dark-4) !important;
}
.main-sidebar.is-curved:not(.is-bordered) .sidebar-brand {
  border-top-right-radius: 20px;
}
.main-sidebar.is-colored {
  border-color: var(--landing-yyy-light-2);
  background: var(--landing-yyy);
}
.main-sidebar.is-colored .sidebar-inner .naver {
  background: var(--white);
}
.main-sidebar.is-colored .sidebar-inner .icon-menu li a:hover .sidebar-svg, .main-sidebar.is-colored .sidebar-inner .icon-menu li a.is-active .sidebar-svg, .main-sidebar.is-colored .sidebar-inner .icon-menu li a.router-link-active .sidebar-svg,
.main-sidebar.is-colored .sidebar-inner .bottom-menu li a:hover .sidebar-svg,
.main-sidebar.is-colored .sidebar-inner .bottom-menu li a.is-active .sidebar-svg,
.main-sidebar.is-colored .sidebar-inner .bottom-menu li a.router-link-active .sidebar-svg {
  color: var(--smoke-white);
}
.main-sidebar.is-colored .sidebar-inner .icon-menu li a .sidebar-svg,
.main-sidebar.is-colored .sidebar-inner .bottom-menu li a .sidebar-svg {
  color: var(--light-text);
}
.main-sidebar.is-colored .sidebar-inner .icon-menu .profile-dropdown .status-indicator,
.main-sidebar.is-colored .sidebar-inner .bottom-menu .profile-dropdown .status-indicator {
  border-color: var(--primary);
}
.main-sidebar.has-labels.has-hover-labels .sidebar-inner .icon-menu li:hover a::after,
.main-sidebar.has-labels.has-hover-labels .sidebar-inner .bottom-menu li:hover a::after {
  opacity: 1 !important;
}
.main-sidebar.has-labels.has-hover-labels .sidebar-inner .icon-menu li a.is-active::after, .main-sidebar.has-labels.has-hover-labels .sidebar-inner .icon-menu li a.router-link-active::after,
.main-sidebar.has-labels.has-hover-labels .sidebar-inner .bottom-menu li a.is-active::after,
.main-sidebar.has-labels.has-hover-labels .sidebar-inner .bottom-menu li a.router-link-active::after {
  opacity: 1 !important;
}
.main-sidebar.has-labels.has-hover-labels .sidebar-inner .icon-menu li a::after,
.main-sidebar.has-labels.has-hover-labels .sidebar-inner .bottom-menu li a::after {
  opacity: 0;
}
.main-sidebar.has-labels .sidebar-inner .icon-menu,
.main-sidebar.has-labels .sidebar-inner .bottom-menu {
  overflow-x: hidden;
}
.main-sidebar.has-labels .sidebar-inner .icon-menu li a.router-link-active::after,
.main-sidebar.has-labels .sidebar-inner .bottom-menu li a.router-link-active::after {
  color: var(--primary);
}
.main-sidebar.has-labels .sidebar-inner .icon-menu li a::after,
.main-sidebar.has-labels .sidebar-inner .bottom-menu li a::after {
  content: attr(data-content);
  position: absolute;
  bottom: -8px;
  left: -29px;
  right: 0;
  margin: 0 auto;
  font-family: var(--font);
  font-size: 0.5rem;
  font-weight: 500;
  color: var(--light-text);
  text-transform: uppercase;
  text-align: center;
  width: 80px;
  transition: opacity 0.3s;
}
.main-sidebar.has-labels .sidebar-inner .icon-menu li a svg,
.main-sidebar.has-labels .sidebar-inner .bottom-menu li a svg {
  position: relative;
  top: -4px;
}
.main-sidebar.is-float {
  border-radius: 1000px;
  overflow: hidden;
  width: 74px;
  margin-left: 6px;
  top: 6px;
  height: calc(100vh - 12px);
  border: none !important;
}
.main-sidebar.is-float:not(.is-bordered) {
  box-shadow: var(--light-box-shadow);
}
.main-sidebar.is-float.is-bordered {
  width: 80px;
  margin-left: 0;
  top: 0;
  height: 100vh;
  border-radius: 0;
}
.main-sidebar.is-float.is-bordered .sidebar-brand {
  width: 80px;
}
.main-sidebar.is-float.is-bordered .sidebar-inner .icon-menu li,
.main-sidebar.is-float.is-bordered .sidebar-inner .bottom-menu li {
  width: 80px;
}
.main-sidebar.is-float .sidebar-brand {
  width: 74px;
}
.main-sidebar.is-float .sidebar-inner .icon-menu li,
.main-sidebar.is-float .sidebar-inner .bottom-menu li {
  width: 74px;
}
.main-sidebar.is-float .sidebar-inner .bottom-menu {
  padding-bottom: 4px;
}
.main-sidebar .sidebar-brand {
  width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-sidebar .sidebar-brand img {
  margin-top: 5px;
  width: 36px;
  height: auto;
}
.main-sidebar .sidebar-inner {
  height: calc(100% - 60px);
  width: 100%;
  position: relative;
}
.main-sidebar .sidebar-inner .naver {
  position: absolute;
  top: -150px;
  left: 0;
  height: 64px;
  width: 4px;
  border-radius: 100px;
  background: var(--primary);
  transition: all 0.3s;
}
.main-sidebar .sidebar-inner .naver.is-search-results {
  margin-top: 240px;
}
.main-sidebar .sidebar-inner .naver.from-bottom {
  top: unset !important;
  bottom: -64px;
  margin-top: 0 !important;
}
.main-sidebar .sidebar-inner .icon-menu {
  overflow-y: auto;
  max-height: 400px;
}
.main-sidebar .sidebar-inner .icon-menu li,
.main-sidebar .sidebar-inner .bottom-menu li {
  position: relative;
  width: 80px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-sidebar .sidebar-inner .icon-menu li.is-active svg, .main-sidebar .sidebar-inner .icon-menu li.router-link-active svg,
.main-sidebar .sidebar-inner .bottom-menu li.is-active svg,
.main-sidebar .sidebar-inner .bottom-menu li.router-link-active svg {
  color: var(--primary);
}
.main-sidebar .sidebar-inner .icon-menu li .is-messages-counter,
.main-sidebar .sidebar-inner .bottom-menu li .is-messages-counter {
  position: absolute;
  top: 6px;
  right: 16px;
  display: block;
  line-height: 17px;
  background: var(--danger);
  color: var(--white);
  font-weight: 500;
  font-size: 0.6rem;
  border-radius: 100px;
  border: 1px solid var(--white);
  transform: scale(0.8);
}
.main-sidebar .sidebar-inner .icon-menu li a,
.main-sidebar .sidebar-inner .bottom-menu li a {
  display: block;
  position: relative;
  transform: rotate(0);
  opacity: 1;
  transition: all 0.3s;
}
.main-sidebar .sidebar-inner .icon-menu li a:hover .sidebar-svg, .main-sidebar .sidebar-inner .icon-menu li a.is-selected .sidebar-svg, .main-sidebar .sidebar-inner .icon-menu li a.router-link-active .sidebar-svg,
.main-sidebar .sidebar-inner .bottom-menu li a:hover .sidebar-svg,
.main-sidebar .sidebar-inner .bottom-menu li a.is-selected .sidebar-svg,
.main-sidebar .sidebar-inner .bottom-menu li a.router-link-active .sidebar-svg {
  color: var(--primary);
}
.main-sidebar .sidebar-inner .icon-menu li a .sidebar-svg,
.main-sidebar .sidebar-inner .bottom-menu li a .sidebar-svg {
  height: 20px;
  width: 20px;
  color: var(--title-grey);
  stroke-width: 1.6px;
  transition: all 0.3s;
}
.main-sidebar .sidebar-inner .icon-menu li a:hover svg, .main-sidebar .sidebar-inner .icon-menu li a.is-active svg, .main-sidebar .sidebar-inner .icon-menu li a.router-link-exact-active svg,
.main-sidebar .sidebar-inner .bottom-menu li a:hover svg,
.main-sidebar .sidebar-inner .bottom-menu li a.is-active svg,
.main-sidebar .sidebar-inner .bottom-menu li a.router-link-exact-active svg {
  color: var(--primary);
}
.main-sidebar .sidebar-inner .icon-menu li a.is-opened,
.main-sidebar .sidebar-inner .bottom-menu li a.is-opened {
  transform: rotate(360deg);
  opacity: 0;
}
.main-sidebar .sidebar-inner .icon-menu li a.is-inactive,
.main-sidebar .sidebar-inner .bottom-menu li a.is-inactive {
  transform: rotate(-360deg);
  opacity: 0;
}
.main-sidebar .sidebar-inner .bottom-menu {
  position: absolute;
  bottom: 0;
  padding: 0;
}
.main-sidebar .sidebar-inner .bottom-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-sidebar .sidebar-inner .bottom-menu li.is-rotate a:hover {
  animation: rotating 1s linear infinite;
}
.main-sidebar .sidebar-inner .bottom-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-sidebar .sidebar-inner .bottom-menu li .dropdown {
  position: relative;
  display: block;
  height: 48px;
  width: 48px !important;
}
.main-sidebar .sidebar-inner .bottom-menu li .dropdown > img {
  height: 48px;
  width: 48px;
  border-radius: var(--radius-rounded);
  position: relative;
  z-index: 1;
}
.main-sidebar .sidebar-inner .bottom-menu li .dropdown .status-indicator {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  border-radius: var(--radius-rounded);
  border: 2px solid var(--white);
  background: var(--success);
  z-index: 2;
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu {
  bottom: 0;
  left: 145%;
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .dropdown-content {
  padding-top: 0;
  overflow: hidden;
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .dropdown-content .dropdown-head {
  display: flex;
  align-items: center;
  padding: 20px 16px;
  margin-bottom: 12px;
  background: #fafafa;
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .dropdown-content .dropdown-head .meta {
  margin-left: 12px;
  font-family: var(--font);
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .dropdown-content .dropdown-head .meta span {
  display: block;
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .dropdown-content .dropdown-head .meta span:first-child {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--dark-text);
  line-height: 1.2;
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .dropdown-content .dropdown-head .meta span:nth-child(2) {
  text-transform: uppercase;
  color: var(--light-text);
  font-size: 0.7rem;
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .dropdown-content .logout-button svg {
  color: var(--smoke-white) !important;
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100% !important;
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .dropdown-item:hover, .main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .dropdown-item:focus:not(.is-button) {
  background: var(--fade-grey-light-3);
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .flex-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .flex-item .toggle-title {
  font-size: 0.8rem;
  color: var(--muted-grey);
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .flex-item .toggle-title:hover, .main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .flex-item .toggle-title:focus {
  background: transparent !important;
}
.main-sidebar .sidebar-inner .bottom-menu .profile-dropdown .dropdown-menu .flex-item:hover {
  background: transparent !important;
}
.is-dark .main-sidebar:not(.is-colored) {
  background: var(--dark-sidebar);
}
.is-dark .main-sidebar:not(.is-colored).is-bordered {
  border-right: 1px solid var(--dark-sidebar) !important;
}
.is-dark .main-sidebar:not(.is-colored).is-curved:not(.is-bordered) {
  border-color: var(--dark-sidebar-light-16) !important;
}
.is-dark .main-sidebar:not(.is-colored) .naver {
  background: var(--primary);
}
.is-dark .main-sidebar:not(.is-colored) .icon-menu li a.is-selected svg, .is-dark .main-sidebar:not(.is-colored) .icon-menu li a.router-link-active svg,
.is-dark .main-sidebar:not(.is-colored) .bottom-menu li a.is-selected svg,
.is-dark .main-sidebar:not(.is-colored) .bottom-menu li a.router-link-active svg {
  color: var(--primary) !important;
}
.is-dark .main-sidebar:not(.is-colored) .icon-menu li a.is-selected .sidebar-icon .path, .is-dark .main-sidebar:not(.is-colored) .icon-menu li a.router-link-active .sidebar-icon .path,
.is-dark .main-sidebar:not(.is-colored) .bottom-menu li a.is-selected .sidebar-icon .path,
.is-dark .main-sidebar:not(.is-colored) .bottom-menu li a.router-link-active .sidebar-icon .path {
  fill: var(--primary) !important;
}
.is-dark .main-sidebar:not(.is-colored) .icon-menu li a:hover svg,
.is-dark .main-sidebar:not(.is-colored) .bottom-menu li a:hover svg {
  color: var(--primary) !important;
}
.is-dark .main-sidebar:not(.is-colored) .icon-menu li a:hover .sidebar-icon .path,
.is-dark .main-sidebar:not(.is-colored) .bottom-menu li a:hover .sidebar-icon .path {
  fill: var(--primary) !important;
}
.is-dark .main-sidebar:not(.is-colored) .icon-menu li a .sidebar-icon.is-active .path,
.is-dark .main-sidebar:not(.is-colored) .bottom-menu li a .sidebar-icon.is-active .path {
  fill: var(--primary) !important;
}
.is-dark .main-sidebar:not(.is-colored) .icon-menu li svg,
.is-dark .main-sidebar:not(.is-colored) .bottom-menu li svg {
  color: var(--primary-grey-light-3);
}
.is-dark .main-sidebar:not(.is-colored) .icon-menu li .status-indicator,
.is-dark .main-sidebar:not(.is-colored) .bottom-menu li .status-indicator {
  border-color: var(--dark-sidebar) !important;
}
.is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content {
  background: var(--dark-sidebar);
}
.is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content .dropdown-head {
  background: var(--dark-sidebar-light-2) !important;
}
.is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content .dropdown-head:hover, .is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content .dropdown-head:focus {
  background: var(--dark-sidebar-light-2) !important;
}
.is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content .dropdown-head .meta:hover {
  background: var(--dark-sidebar-light-2) !important;
}
.is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content .dropdown-head .meta span:first-child {
  color: var(--dark-dark-text) !important;
}
.is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content .dropdown-item {
  color: var(--white);
}
.is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content .dropdown-item:hover, .is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content .dropdown-item:focus:not(.is-button) {
  background: var(--dark-sidebar-light-5);
}
.is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content .dropdown-item.is-button:hover, .is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content .dropdown-item.is-button:focus {
  background: var(--dark-sidebar-light-2) !important;
}
.is-dark .main-sidebar:not(.is-colored) .profile-dropdown .dropdown-content .dropdown-divider {
  background: var(--dark-sidebar-light-5);
}
.is-dark .main-sidebar:not(.is-colored) .sidebar-inner .icon-menu li a.is-active svg,
.is-dark .main-sidebar:not(.is-colored) .sidebar-inner .bottom-menu li a.is-active svg {
  color: var(--primary) !important;
}
.is-dark .main-sidebar.is-colored .sidebar-inner .naver {
  opacity: 0.8;
}
.is-dark .main-sidebar.is-colored .sidebar-inner .icon-menu li a:hover .sidebar-svg, .is-dark .main-sidebar.is-colored .sidebar-inner .icon-menu li a.is-active .sidebar-svg,
.is-dark .main-sidebar.is-colored .sidebar-inner .bottom-menu li a:hover .sidebar-svg,
.is-dark .main-sidebar.is-colored .sidebar-inner .bottom-menu li a.is-active .sidebar-svg {
  color: var(--smoke-white);
  stroke: var(--smoke-white);
  opacity: 1;
}
.is-dark .main-sidebar.is-colored .sidebar-inner .icon-menu li a .sidebar-svg,
.is-dark .main-sidebar.is-colored .sidebar-inner .bottom-menu li a .sidebar-svg {
  color: var(--smoke-white-light-2);
  opacity: 0.5;
}
.is-dark .main-sidebar.is-colored .profile-dropdown .status-indicator {
  border-color: var(--primary-dark-2) !important;
}
.is-dark .main-sidebar.is-colored .profile-dropdown .dropdown-menu .dropdown-content .dropdown-head {
  background: var(--dark-sidebar-light-2) !important;
}
.is-dark .main-sidebar.is-colored .profile-dropdown .dropdown-menu .dropdown-content .dropdown-head:hover, .is-dark .main-sidebar.is-colored .profile-dropdown .dropdown-menu .dropdown-content .dropdown-head:focus {
  background: var(--dark-sidebar-light-2) !important;
}
.is-dark .main-sidebar.is-colored .profile-dropdown .dropdown-menu .dropdown-content .dropdown-head .meta:hover {
  background: var(--dark-sidebar-light-2) !important;
}
.is-dark .main-sidebar.is-colored .profile-dropdown .dropdown-menu .dropdown-content .dropdown-head .meta span:first-child {
  color: var(--dark-dark-text) !important;
}.dropdown.is-dots:hover .is-trigger, .dropdown.is-dots.is-active .is-trigger {
  background: var(--fade-grey-light-2);
}
.dropdown.is-dots:hover .is-trigger svg, .dropdown.is-dots.is-active .is-trigger svg {
  color: var(--light-text-dark-4);
}
.dropdown.is-dots .is-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: var(--radius-rounded);
  cursor: pointer;
  transition: all 0.3s;
}
.dropdown.is-dots .is-trigger .iconify {
  vertical-align: middle;
}
.dropdown.is-dots .is-trigger svg {
  height: 20px;
  width: 20px;
  color: var(--light-text);
  stroke-width: 1.6px;
  transition: stroke 0.3s;
}
.dropdown.is-dots .dropdown-menu {
  margin-top: 6px;
  padding-bottom: 0;
  text-align: left;
}
.dropdown.is-modern.is-active .caret {
  transform: rotate(180deg);
}
.dropdown.is-modern .is-trigger {
  padding-right: 0.75em;
}
.dropdown.is-modern .is-trigger .caret {
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin-left: 6px;
}
.dropdown.is-modern .is-trigger .caret .iconify {
  vertical-align: middle;
}
.dropdown.is-modern .is-trigger .caret svg {
  height: 16px;
  width: 16px;
  color: var(--light-text);
}
.dropdown.is-modern .dropdown-menu {
  margin-top: 6px;
}
.dropdown.is-spaced .dropdown-menu {
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.05);
  border-color: var(--fade-grey);
  padding-top: 0;
  min-width: 260px;
}
.dropdown.is-spaced .dropdown-menu.has-margin {
  margin-top: 10px;
}
.dropdown.is-spaced .dropdown-menu .dropdown-content {
  border: 1px solid var(--fade-grey);
  box-shadow: none;
}
.dropdown.is-spaced .dropdown-item {
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  color: var(--light-text);
  transition: all 0.3s;
}
.dropdown.is-spaced .dropdown-item:not(.is-button):hover, .dropdown.is-spaced .dropdown-item:not(.is-button).is-active {
  background: var(--fade-grey-light-3);
  color: var(--dark-text);
}
.dropdown.is-spaced .dropdown-item.no-hover:hover {
  background: var(--white);
}
.dropdown.is-spaced .dropdown-item.is-media {
  display: flex;
  align-items: center;
}
.dropdown.is-spaced .dropdown-item.is-media:hover .icon svg, .dropdown.is-spaced .dropdown-item.is-media:focus .icon svg, .dropdown.is-spaced .dropdown-item.is-media.is-active .icon svg {
  color: var(--primary);
}
.dropdown.is-spaced .dropdown-item.is-media:hover .icon .lnir,
.dropdown.is-spaced .dropdown-item.is-media:hover .icon .lnil, .dropdown.is-spaced .dropdown-item.is-media:focus .icon .lnir,
.dropdown.is-spaced .dropdown-item.is-media:focus .icon .lnil, .dropdown.is-spaced .dropdown-item.is-media.is-active .icon .lnir,
.dropdown.is-spaced .dropdown-item.is-media.is-active .icon .lnil {
  color: var(--primary);
}
.dropdown.is-spaced .dropdown-item.is-media .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
}
.dropdown.is-spaced .dropdown-item.is-media .icon svg {
  height: 18px;
  width: 18px;
  transition: stroke 0.3s;
}
.dropdown.is-spaced .dropdown-item.is-media .icon .lnir,
.dropdown.is-spaced .dropdown-item.is-media .icon .lnil {
  font-size: 16px;
  transition: color 0.3s;
}
.dropdown.is-spaced .dropdown-item.is-media .item-img {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: var(--radius-large);
}
.dropdown.is-spaced .dropdown-item.is-media .item-img.is-rounded {
  border-radius: var(--radius-rounded);
}
.dropdown.is-spaced .dropdown-item.is-media .meta {
  margin-left: 10px;
}
.dropdown.is-spaced .dropdown-item.is-media .meta span {
  display: block;
  line-height: 1.3;
}
.dropdown.is-spaced .dropdown-item.is-media .meta span:first-child {
  font-family: var(--font-alt);
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--dark-text);
}
.dropdown.is-spaced .dropdown-item.is-media .meta span:nth-child(2) {
  font-family: var(--font);
  color: var(--light-text);
  font-size: 0.9rem;
}
.dropdown .is-trigger.button {
  font-family: var(--font);
}
.dropdown .is-trigger.button:focus {
  border-color: var(--fade-grey-dark-4);
  box-shadow: var(--light-box-shadow);
}
.dropdown .is-trigger.button .base-caret {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
}
.dropdown .is-trigger.button .base-caret .iconify {
  position: relative;
  top: -2px;
  vertical-align: middle;
  margin-left: 0.25rem;
}
.dropdown .dropdown-menu .dropdown-item {
  color: var(--light-text);
  font-family: var(--font);
}
.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:focus {
  color: var(--dark-text);
}
.dropdown .dropdown-menu .dropdown-item.is-active {
  background: var(--fade-grey-light-3);
}
.dropdown .dropdown-menu .dropdown-item.has-child {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}
.dropdown .dropdown-menu .dropdown-item.has-child svg {
  height: 16px;
  width: 16px;
  color: var(--muted-grey);
}
.dropdown .dropdown-menu .dropdown-item.has-child .child-dropdown {
  position: absolute;
  right: -282px;
  top: 0;
  width: 280px;
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}
.dropdown .dropdown-menu .dropdown-item.has-child .child-dropdown .inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: var(--white);
  border: 1px solid var(--primary-grey);
  border-radius: var(--radius-large);
  padding: 8px 0;
}
.dropdown .dropdown-menu .dropdown-item.has-child .child-dropdown .inner .column-setting {
  padding: 0 6px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.dropdown .dropdown-menu .dropdown-item.has-child .child-dropdown .inner .column-setting label {
  transform: scale(0.7);
}
.dropdown .dropdown-menu .dropdown-item.has-child .child-dropdown .inner .column-setting .text span {
  display: block;
  font-size: 0.8rem;
}
.dropdown .dropdown-menu .dropdown-item.has-child .child-dropdown .inner .column-setting .text span:first-child {
  color: var(--dark-text);
  font-weight: 500;
}
.dropdown .dropdown-menu .dropdown-item.has-child .child-dropdown .inner .column-setting .text span:nth-child(2) {
  color: var(--muted-grey);
}
.dropdown .dropdown-menu .dropdown-item.has-child:hover .child-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

/* ==========================================================================
2. Dropdown Dark mode
========================================================================== */
.is-dark .toolbar-link:hover {
  background: var(--dark-sidebar-light-2) !important;
}
.is-dark .toolbar-link svg {
  color: var(--dark-dark-text);
}
.is-dark .dropdown.is-spaced:hover .is-trigger, .is-dark .dropdown.is-spaced.is-active .is-trigger, .is-dark .dropdown.is-dots:hover .is-trigger, .is-dark .dropdown.is-dots.is-active .is-trigger {
  background: var(--dark-sidebar-light-2) !important;
}
.is-dark .dropdown.is-spaced:hover .is-trigger svg, .is-dark .dropdown.is-spaced.is-active .is-trigger svg, .is-dark .dropdown.is-dots:hover .is-trigger svg, .is-dark .dropdown.is-dots.is-active .is-trigger svg {
  color: var(--dark-dark-text);
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content {
  background: var(--dark-sidebar) !important;
  border-color: var(--dark-sidebar-light-8) !important;
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .heading, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .heading {
  border-color: var(--dark-sidebar-light-8) !important;
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .heading:hover, .is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .heading:focus,
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .heading *:hover, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .heading:hover, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .heading:focus,
.is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .heading *:hover {
  background: var(--dark-sidebar) !important;
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .heading .heading-right .notification-link, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .heading .heading-right .notification-link {
  color: var(--primary) !important;
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .notification-list li .notification-item:hover,
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .notification-list li .notification-item *:hover, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .notification-list li .notification-item:hover,
.is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .notification-list li .notification-item *:hover {
  background: var(--dark-sidebar) !important;
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .notification-list li .notification-item .user-content .user-info, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .notification-list li .notification-item .user-content .user-info {
  color: var(--dark-dark-text) !important;
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .is-media:hover .icon svg, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .is-media:hover .icon svg {
  color: var(--primary) !important;
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .is-media:hover .icon .lnir,
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .is-media:hover .icon .lnil, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .is-media:hover .icon .lnir,
.is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .is-media:hover .icon .lnil {
  color: var(--primary);
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .is-media.is-active .icon svg, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .is-media.is-active .icon svg {
  color: var(--white) !important;
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .is-media.is-active .icon .lnir,
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .is-media.is-active .icon .lnil, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .is-media.is-active .icon .lnir,
.is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .is-media.is-active .icon .lnil {
  color: var(--white);
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .is-media.is-active .meta span, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .is-media.is-active .meta span {
  color: var(--white) !important;
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .is-media .icon svg, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .is-media .icon svg {
  color: var(--light-text);
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .is-media .icon .lnir,
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .is-media .icon .lnil, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .is-media .icon .lnir,
.is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .is-media .icon .lnil {
  color: var(--light-text);
}
.is-dark .dropdown.is-spaced .dropdown-menu .dropdown-content .is-media .meta span:first-child, .is-dark .dropdown.is-dots .dropdown-menu .dropdown-content .is-media .meta span:first-child {
  color: var(--dark-dark-text);
}
.is-dark .dropdown .dropdown-menu .dropdown-content {
  background: var(--dark-sidebar);
  border-color: var(--dark-sidebar-light-8) !important;
}
.is-dark .dropdown .dropdown-menu .dropdown-content .dropdown-item {
  color: var(--light-text);
}
.is-dark .dropdown .dropdown-menu .dropdown-content .dropdown-item.is-active {
  background: var(--dark-sidebar-light-2) !important;
}
.is-dark .dropdown .dropdown-menu .dropdown-content .dropdown-divider {
  background: var(--dark-sidebar-light-5);
}
.is-dark .dropdown .dropdown-menu .dropdown-content a:hover {
  background: var(--dark-sidebar-light-5) !important;
}
.is-dark .child-dropdown .inner {
  background: var(--dark-sidebar) !important;
  border-color: var(--dark-sidebar-light-4) !important;
}
.is-dark .child-dropdown .inner:hover, .is-dark .child-dropdown .inner:focus {
  background: var(--dark-sidebar) !important;
  border-color: var(--dark-sidebar-light-4) !important;
}
.is-dark .child-dropdown .inner ul li .text span:first-child {
  color: var(--dark-dark-text) !important;
}